<nav class="nav-mobile" id="nav-mobile">
    <div class="nav-mobile-button" id="menu">
        ☰
    </div>
    
    <div class="nav-mobile-logo">
        <img src='/assets/img/dexoares-logo-mobile.png'>
    </div>
</nav>

<nav class="nav-desk" id="nav-desk">
    <img id="social" src='/assets/img/social.png'>
    
    <img src='/assets/img/dexoares-logo.png'>
    
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <ul id="results-container"></ul>
    </div>
</nav>
<div class="nav-links-desk">
</div>