<nav class="nav-mobile" id="nav-mobile">
    <div class="nav-mobile-button" id="menu">
        <img src="{{ '/assets/img/scratchy-menu.png' | relative_url }}">
    </div>
    
    <div class="nav-mobile-logo">
        <img src="{{ '/assets/img/dexoares-logo-mobile.png' | relative_url }}">
    </div>
</nav>

<div id="side" style="visibility: hidden;">
    <h2>Menu</h2>
</div>

<nav class="nav-desk" id="nav-desk">
    <img id="social" src="{{ '/assets/img/social.png' | relative_url }}">
    
    <img src="{{ '/assets/img/dexoares-logo.png' | relative_url }}">
    
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        <ul id="results-container"></ul>
    </div>
</nav>
<div class="nav-links-desk">
</div>